<app-navbar></app-navbar>

<div id="header">
	<h2>Create a post</h2>
</div>

<div id="body">
	<input type="text" name="title" placeholder="Title">
	<input type="file" (change)="onFileSelected($event)" accept="image/*, video/*">
	<div id="preview" *ngIf="file">
		<img *ngIf="isImage(file)" [src]="previewUrl" alt="Image preview">
		<video *ngIf="isVideo(file)" [src]="previewUrl" controls></video>
	</div>
	<textarea placeholder="Description"></textarea>
</div>

<div id="footer">
	<button (click)="createPost()">Submit</button>
</div>