* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#header,
#body,
#footer {
	display: flex;
	flex-direction: column;
	margin-left: 20%;
	margin-top: 50px;
	width: 600px;

	* {
		margin: 5px;
	}
}

#body {
	textarea {
		min-height: 100px;
	}
}

#preview {

	img,
	video {
		max-width: 350px;
		max-height: 350px;
	}
}