<app-navbar></app-navbar>

<div id="header">
	<h2>Create a post</h2>
</div>

<div id="body">
	<input [(ngModel)]="title" type="text" name="title" placeholder="Title" required>
	<textarea [(ngModel)]="description" name="description" placeholder="Description"></textarea>
	<input type="file" (change)="onFileSelected($event)" accept="image/*, video/*" multiple>
	<div id="preview" *ngFor="let previewUrl of previewUrls; let i = index">
		<img *ngIf="isImage(files[i])" [src]="previewUrl" alt="Image preview">
		<video *ngIf="isVideo(files[i])" [src]="previewUrl" controls></video>
	</div>
</div>

<div id="footer">
	<button (click)="createPost()">Submit</button>
</div>