<div id="chat-container">
	<div id="left-section">
		<div id="left-section-header">
			<p>Chat Rooms</p>
			<button class="right-sided" (click)="toggleAddNewChatroom()">add new chatroom</button>
			<div class="right-sided" class="vertical-list" *ngIf="isAddingNewChatroomOpen">
				<button>create group</button>
				<ng-container *ngFor="let friendUsername of friendsUsernamesWithNoChats">
					<button (click)="createNewChatroom(friendUsername)">{{ friendUsername }}</button>
				</ng-container>
			</div>

		</div>
		<div id="left-section-body" class="vertical-list">
			<button (click)="toggleDmChatrooms()">dms</button>
			<ng-container *ngIf="areDmChatroomsOpen">
				<ng-container *ngFor="let dmChatroom of dmChatrooms">
					<button (click)="openChatroom(dmChatroom)">{{ dmChatroom.participantsUsernames[0] }}</button>
				</ng-container>
			</ng-container>

			<button>groups</button>

			<button>regionals</button>

		</div>
	</div>
	<div id="right-section">
		<div *ngIf="isChatroomOpened">
			<div id="right-section-header">
				<p>{{ currentChatroom?.name }}</p>
				<button (click)="closeChatroom()"><i class="close-button material-icons">close</i></button>
			</div>
			<div id="right-section-body">
				<div class="messages" *ngIf="isWebsocketConnected()">
					<div *ngFor="let message of receivedMessages"
						[ngClass]="{'text-right': message.senderUsername === loggedUserUsername, 'text-left': message.senderUsername !== loggedUserUsername}">
						<p class="sender-username">{{message.senderUsername}}</p>
						<p class="message">{{message.message}}</p>
						<!-- <p class="message"> <span style="font-weight: bold">{{ message.senderUsername }}</span>: {{ message.message }} <span
									style="font-size: 0.7em; font-style: italic; margin-left: 15px;"> at {{ message.createdAt }}</span></p> -->
					</div>
				</div>
				<div class="input">
					<input type="text" [(ngModel)]="messageToSend" (keyup.enter)="sendMessage(currentChatroom?.id)" />
					<button (click)="sendMessage(currentChatroom?.id)">Send</button>
				</div>
			</div>
		</div>
	</div>
</div>