* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#chat-container {
	position: fixed;
	z-index: 999;
	width: 600px;
	height: 500px;
	right: 80px;
	bottom: 0;
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	overflow-y: scroll;
	display: flex;
	flex-direction: row;

	.left-section {
		flex: 1;
	}

	.right-section {
		flex: 2;
	}
}
