<div id="chat-container">
	<div id="left-section">
		<div id="left-section-header">
			<p style="margin: 2px;">Chat Rooms</p>
			<button (click)="toggleAddNewDmChatroom()">add new dm</button>
			<button (click)="createNewGroupChatroom()">create group</button>
			<div class="left-sidebar" *ngIf="isLeftSidebarOpen">
				<ng-container *ngFor="let friendUsername of friendsUsernamesWithNoChats">
					<button (click)="createNewDmChatroom(friendUsername)">{{ friendUsername }}</button>
				</ng-container>
			</div>
		</div>

		<div id="left-section-body" class="vertical-list">
			<button (click)="toggleDmChatrooms()">dms</button>
			<ng-container *ngIf="areDmChatroomsOpen">
				<ng-container *ngFor="let dmChatroom of dmChatrooms">
					<button (click)="openChatroom(dmChatroom)">{{ dmChatroom.participantsUsernames[0] }}</button>
				</ng-container>
			</ng-container>

			<button>groups</button>

			<button>regionals</button>

		</div>
	</div>
	<div id="right-section">
		<div *ngIf="isChatroomOpened">
			<div id="right-section-header">
				<div (dblclick)="isEditingChatroomName = true">
					<ng-container *ngIf="!isEditingChatroomName; else editMode">
						{{ currentChatroom?.name }}
					</ng-container>
					<ng-template #editMode>
						<input type="text" [(ngModel)]="currentChatroom!.name"
							(blur)="updateChatroomName(currentChatroom!.name)"
							(keyup.enter)="updateChatroomName(currentChatroom!.name)" autofocus>
					</ng-template>
				</div>
				<button (click)="leaveChatroom(currentChatroom?.id)">leave chatroom</button>
				<button (click)="closeChatroom()"><i class="close-button material-icons">close</i></button>
			</div>
			<div id="right-section-body" #chatContainer (scroll)="onScroll()">
				<div class="messages" *ngIf="isWebsocketConnected()">
					<div *ngFor="let message of receivedMessages"
						[ngClass]="{'text-right': message.senderUsername === loggedUserUsername, 'text-left': message.senderUsername !== loggedUserUsername}">
						<p class="sender-username">{{message.senderUsername}}</p>
						<p class="message" [innerHTML]="messageWithParsedLinks(message.message)">{{message.message}}</p>
						<div class="message-time">{{ message.createdAt | date: 'HH:mm' }}</div>
					</div>
				</div>
				<div class="input">
					<input type="text" [(ngModel)]="messageToSend" (keyup.enter)="sendMessage(currentChatroom?.id)" />
					<button (click)="sendMessage(currentChatroom?.id)">Send</button>
				</div>
			</div>
		</div>
	</div>
</div>