<div id="chat-container">
	<div id="left-section">
		<div id="left-section-header">
			<p>Chat Rooms</p>
		</div>
		<div id="left-section-body">
			<p>room1</p>
			<p>room2</p>
			<p>room3</p>
		</div>
	</div>
	<div id="right-section">
		<div id="right-section-header">
			<p>Chat room name</p>
			<button id="settings">Settings</button>
			<button id="close">Close</button>
		</div>
		<div id="right-section-body">
			<p>Lorem ipsum dolor sit amet consectetur, </p>
			<p>adipisicing elit. Saepe doloribus, praesentium perferendis repudiandae ipsam totam et similique porro
				quos
				quas necessitatibus non quisquam officiis quasi eius nemo soluta temporibus autem.</p>
		</div>
	</div>