<app-navbar></app-navbar>

<div id="title">
	<h2 *ngIf="isUserOnScreenTheLoggedOne">your profile</h2>
	<h2 *ngIf="!isUserOnScreenTheLoggedOne">{{userOnScreen.username}}'s profile</h2>
</div>

<section id="section-left">
	<button (click)="selectSection('posts')">Posts</button>
	<button (click)="selectSection('comments')" (click)="getNextCommentsOfUser()">Comments</button>
	<ng-container *ngIf="isUserOnScreenTheLoggedOne">
		<button (click)="selectSection('upvoted')">Upvoted</button>
		<button (click)="selectSection('downvoted')">Downvoted</button>
		<button (click)="selectSection('savedPosts')">Saved posts</button>
	</ng-container>

	<section *ngIf="selectedSection === 'posts'">
		<app-posts [usernameOfUserOnScreen]="userOnScreen.username"></app-posts>
	</section>

	<section *ngIf="selectedSection === 'comments'">
		<div *ngFor="let comment of comments; let i = index">
			<p style="margin-right: 10px; font-weight: bold; margin-top: 3.5px;">{{ usernameOfUserOnScreen }} on "{{
				comment.postTitle }}"</p>
			<i style="font-size: .8rem; margin-left: 10px; margin-top: 3.5px;">{{comment.createdAt | timeAgo}}</i>
			<p>{{ comment.content }}</p>

			<hr style="margin-top: 5px; margin-bottom: 5px; width: 80%" *ngIf="i < comments.length - 1">
		</div>
		<button style="margin: 15px;" (click)="getNextCommentsOfUser()">load
			more</button>
	</section>

	<section *ngIf="selectedSection === 'upvoted'">
		<app-posts [usernameOfUserOnScreen]="userOnScreen.username" [isThoseUpvoted]="true"></app-posts>
	</section>

	<section *ngIf="selectedSection === 'downvoted'">
		<app-posts [usernameOfUserOnScreen]="userOnScreen.username" [isThoseDownvoted]="true"></app-posts>
	</section>

	<section *ngIf="selectedSection === 'savedPosts'">
		<app-posts [usernameOfUserOnScreen]="userOnScreen.username" [isThoseSaved]="true"></app-posts>
	</section>
</section>

<section id="section-right-container">
	<section id="section-right">
		<img id="profile-cover" [src]="profileCoverUrl" alt="Profile cover">
		<img id="profile-picture" [src]="profilePictureUrl" alt="Profile picture">

		<ng-container *ngIf="!isUserOnScreenTheLoggedOne">
			<!-- always check the status: 
				the users have no connection with each other
				the user on screen either received the request or sent it 
				the users are friends -->
			<ng-container *ngIf="!isFriends && !loggedUserSentFriendRequest && !userSentFriendRequest">
				<button id="send-friend-request-button" (click)="sendFriendRequest()">Send friend request</button>
			</ng-container>

			<ng-container *ngIf="!isFriends && loggedUserSentFriendRequest && !userSentFriendRequest">
				<button id="cancel-friend-request-button" (click)="cancelFriendRequest()">Cancel friend
					request</button>
			</ng-container>

			<ng-container *ngIf="!isFriends && !loggedUserSentFriendRequest && userSentFriendRequest">
				<button id="accept-friend-request-button" (click)="acceptFriendRequest()">Accept friend
					request</button>
				<button id="decline-friend-request-button" (click)="declineFriendRequest()">Decline friend
					request</button>
			</ng-container>

			<ng-container *ngIf="isFriends && !loggedUserSentFriendRequest && !userSentFriendRequest">
				<button id="unfriend-button" (click)="unfriend()">Unfriend</button>
			</ng-container>
		</ng-container>

		<ng-container *ngIf="isUserOnScreenTheLoggedOne">
			<!-- <button id="edit-profile-button" (click)="editProfile()">Edit profile</button> -->
			<input id="add-pfp-button" type="file" (change)="onPfpSelected($event)" accept="image/*, video/*">
			<input id="add-cover-img-button" type="file" (change)="onCoverSelected($event)" accept="image/*, video/*">
		</ng-container>
	</section>
</section>