#title {
	margin-left: 20%;
	margin-top: 50px;
}

#header {
	display: flex;
	flex-direction: row;
	margin-left: 20%;
	margin-top: 20px;
}

#section {
	&-left {
		margin-left: 50px;
		margin-top: 30px;
		width: 46%;
		height: auto;
	}

	&-right {
		position: fixed;
		right: 50px;
		top: 80px;
		width: 30%;

		#profile {
			&-cover {
				position: absolute;
				background-color: aqua;
				top: 0;
				width: 100%;
				height: 200px;
			}

			&-picture {
				position: absolute;
				background-color: aquamarine;
				top: 150px;
				width: 100px;
				height: 100px;
				margin: auto auto 10px 10px;
				border-radius: 50px;

			}
		}

		#send-friend-request-button,
		#edit-profile-button,
		#cancel-friend-request-button,
		#accept-friend-request-button,
		#unfriend-button,
		#change-profile-picture-button {
			position: absolute;
			top: 210px;
			left: 120px;
		}

		#decline-friend-request-button {
			position: absolute;
			top: 240px;
			left: 120px;
		}

		#add-pfp-button {
			position: absolute;
			margin-top: 260px;
		}
	}
}