#title {
	margin-left: 20%;
	margin-top: 50px;
}

#header {
	display: flex;
	flex-direction: row;
	margin-left: 20%;
	margin-top: 20px;
}


#section-left-right {
	display:flex;

	#section {
		&-left {
			flex: 1;
			margin-left: 50px;
			margin-top: 30px;
			width: 46%;
			
		}

		&-right {
			flex: 1;
			position: sticky;
			top: 60px;
			right: -10px;
			height: 400px;
			width: auto;

			#profile {
				&-cover {
					background-color: aqua;
					right: -10px;
					top: 200px;
					width: 70%;
					height: 200px;
					
				}

				&-picture {
					background-color: aquamarine;
					right: -10px;
					top: 200px;
					width: 100px;
					height: 100px;
					margin: auto auto 10px 10px;
					border-radius: 50px;
					
				}
			}

			#send-friend-request-button,
			#cancel-friend-request-button,
			#accept-friend-request-button,
			#unfriend-button,
			#change-profile-picture-button {
				position: absolute;
				margin-top: 65px;
				margin-left: 120px;
			}

			#decline-friend-request-button,
			#edit-profile-button {
				position: absolute;
				margin-top: 65px;
				margin-left: 240px;
			}
		}
	}
}