<ng-container *ngIf="!loggedUser">
	<p>connecting to the app..</p>
	<button (click)="logout()">Logout</button>
</ng-container>

<ng-container *ngIf="loggedUser">
	<app-map *ngIf="showMap" [loggedUser]="loggedUser"></app-map>
	<app-chat *ngIf="showChat"></app-chat>
	<app-notifications *ngIf="showNotifications"></app-notifications>
	<app-friend-requests (notificationRemoved)="updateNbOfNotificationsF()"
		*ngIf="showFriendRequests"></app-friend-requests>

	<div id="navbar">
		<div class="left-section">
			<button class="button-slick" (click)="mainPage()">Main Page</button>
		</div>

		<div class="middle-section">
			<input id="search-bar" type="text" placeholder="search..." [(ngModel)]="searchInput"
				(keydown.enter)="search()">
			<ul *ngIf="searchResults.length > 0">
				<li *ngFor="let result of searchResults" (click)="goToUserProfile(result.username)">
					<img id="profile-picture" [src]="result.pfpLink" alt="(pfp)">
					<span class="username">{{ result.username }}</span>
				</li>
			</ul>
		</div>

		<div class="right-section">
			<button class="button-slick" (click)="createPost()">Create Post</button>

			<button class="button-slick" (click)="toggleMap()">Map</button>

			<button class="button-slick" (click)="toggleChat()">Chat</button>

			<button class="button-slick" (click)="toggleFriendRequests()">Friend Requests ({{ nbOfNotificationsF > 50 ? '50+' :
				nbOfNotificationsF }})</button>

			<!-- <button class="button-slick" (click)="toggleNotifications()">Notifications</button> -->

			<button class="button-slick" (click)="toggleUserMenu()">{{loggedUser.username}} ({{loggedUser.role}})</button>
			<div *ngIf="showUserMenu">
				<div class="profile-drop-down-menu">
					<button class="button-slick" (click)="profile()">Profile</button>
					<button class="button-slick" (click)="settings()">User Settings</button>
					<button class="button-slick" (click)="about()">About</button>
					<button class="button-slick" (click)="logout()">Logout</button>
				</div>
			</div>
		</div>
	</div>
</ng-container>