#navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: transparent;
	z-index: 1;
	display: flex;
	height: 50px;

	.left-section,
	.middle-section,
	.right-section {
		display: flex;
		align-items: center;
	}

	.left-section {
		flex: 1;
		justify-content: start;
	}
	
	.middle-section {
		flex: 2;

		#search-bar {
			width: 100%;
		}
	}

	.right-section {
		flex: 3;
		justify-content: end;
	}

	.highlighted {
		background: transparent;
		border: none;
		outline: none;
		margin: 0 auto;
		cursor: pointer;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
		border-radius: 2rem;
		padding: 5px 10px;
		transition-duration: 0.3s;
		list-style: none;

		&:hover {
			background-color: rgb(144, 197, 255);
			box-shadow: 4px 3px 8px 0px rgb(144, 197, 255);
			border-radius: 0.2rem;
			cursor: pointer;
			transition-duration: 0.3s;
			color: rgb(247, 250, 151);
		}
	}

	img {
		height: 100%;
	}

	.profile-drop-down-menu {
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		top: 100%;
		right: 50px;
		width: auto;
		height: auto;
		background-color: aliceblue;
	}

	input {
		border: none;
		outline: none;
		background-color: transparent;
	}
}