<!-- <ng-container *ngIf="!currentUser">
	<p>connecting to the app..</p>
	<button (click)="logout()">Logout</button>
</ng-container> -->

<ng-container *ngIf="currentUser">
	<app-map *ngIf="showMap" [currentUser]="currentUser"></app-map>

	<div id="navbar">
		<div class="left-section">
			<ul>
				<li><button (click)="mainPage()">Main Page</button></li>

				<li><button (click)="toggleCommunitiesMenu()">Communities</button></li>
				<div *ngIf="showCommunitiesMenu">
					<ul class="drop-down-menu">
						<li><button>Community1</button></li>
						<li><button>Community2</button></li>
						<li><button>Community3</button></li>
					</ul>
				</div>
			</ul>
		</div>

		<div class="middle-section">
			<ul>
				<li><input type="text" placeholder="Search..." (input)="search()"></li>
			</ul>
		</div>

		<div class="right-section">
			<ul>
				<li><button (click)="toggleMap()">Toggle Map</button></li>

				<li><button (click)="toggleLiveChat()">Live Chat</button></li>

				<li><button (click)="toggleUserMenu()">{{currentUser.email}} ({{currentUser.role}})</button></li>
				<div *ngIf="showUserMenu">
					<ul class="drop-down-menu">
						<li><button (click)="profile()">Profile</button></li>
						<li><button (click)="settings()">User Settings</button></li>
						<li><button>About</button></li>
						<li><button (click)="logout()">Logout</button></li>
					</ul>
				</div>
			</ul>
		</div>
	</div>
</ng-container>