* {
	--height: 50px;
}

#navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: transparent;
	backdrop-filter: blur(1.5px);
	z-index: 9;
	display: flex;
	height: var(--height);
	border-bottom: 1px solid #ccc;

	.left-section,
	.middle-section,
	.right-section {
		display: flex;
		align-items: center;
	}

	.left-section {
		flex: 1;
		justify-content: start;
	}

	.middle-section {
		flex: 2;

		#search-bar {
			width: 100%;
			height: 30px;
			border-radius: 5px;
			border: 1px solid #ccc;
			background-color: white;
			padding-left: 10px;
			font-size: 14px;
		}

		ul {
			position: absolute;
			top: var(--height);
			left: 20%;
			width: 300px;
			background-color: white;
			border: 1px solid #ccc;
			border-top: none;
			border-radius: 5px;
			list-style: none;
			padding: 0;
			margin: 0;

			li {
				display: flex;
				align-items: center;
				border-bottom: 1px solid #ccc;

				img#profile-picture {
					width: 30px;
					height: 30px;
					border-radius: 50%;
					margin: 5px 10px; // Center the image vertically within the list item
				}

				span {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}


			li:hover {
				background-color: #ccc;
				cursor: pointer;
			}
		}

		#profile-picture {
			background-color: aquamarine;
			width: 35px;
			height: 35px;
			margin: auto auto 10px 10px;
			border-radius: 50px;
		}
	}

	.right-section {
		flex: 3;
		justify-content: end;
	}

	img {
		height: 100%;
		aspect-ratio: 1 / 1;
	}

	.profile-drop-down-menu {
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		top: 100%;
		right: 25px;
		width: auto;
		height: auto;

		button {
			margin-bottom: 5px;
		}
	}

	input {
		border: none;
		outline: none;
		background-color: transparent;
	}
}