#navbar {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	background: transparent;
	z-index: 9;
	display: flex;
	height: 50px;

	.left-section,
	.middle-section,
	.right-section {
		display: flex;
		align-items: center;
	}

	.left-section {
		flex: 1;
		justify-content: start;
	}
	
	.middle-section {
		flex: 2;

		#search-bar {
			width: 100%;
		}
	}

	.right-section {
		flex: 3;
		justify-content: end;
	}

	img {
		height: 100%;
	}

	.profile-drop-down-menu {
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		top: 100%;
		right: 50px;
		width: auto;
		height: auto;
		background-color: aliceblue;
	}

	input {
		border: none;
		outline: none;
		background-color: transparent;
	}
}