<h1>welcome {{ email }}</h1>
<button (click)="toggleMap()">Toggle Map</button>
<app-map *ngIf="showMap"></app-map>

<h1>Lorem Ipsum</h1>
  <h2>Lorem Ipsum</h2>
  <h3>Lorem Ipsum</h3>
  <h4>Lorem Ipsum</h4>
  <h5>Lorem Ipsum</h5>
  <h6>Lorem Ipsum</h6>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet turpis auctor, pulvinar lacus eu, fringilla metus. Vestibulum accumsan metus vitae euismod aliquam. Nulla facilisi. Mauris nec lectus a magna fermentum viverra.</p>

  <p>Nullam commodo vestibulum arcu, vitae ultricies purus. Quisque sed imperdiet nunc, sit amet condimentum eros. Phasellus non vulputate mauris. Mauris interdum feugiat dictum. Sed venenatis, nisl eget consectetur placerat, tellus leo bibendum mi, id iaculis orci purus sit amet risus.</p>

  <ul>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Consectetur adipiscing elit</li>
    <li>Sed aliquet turpis auctor</li>
  </ul>
