* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#notifications-container {
	position: fixed;
	z-index: 9;
	width: 350px;
	height: 500px;
	right: 85px;
	top: 50px;
	background-color: azure;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	display: flex;
	flex-direction: column;
}