<div id="post-sort">Sort by:
	<button>Newest</button>
	<button>Oldest</button>
	<button>Top</button>
</div>
<button>Filter seen posts</button>
<br>
<br>

<ng-container *ngFor="let post of posts; let i = index">
	<div class="post-preview">
		<div class="post-header">
			<div class="same-line">
				<h3>{{ post.title }}</h3>
				<button style="margin-right: 5px;" *ngIf="post.authorUsername === usernameOfLoggedUser"
					(click)="removePost(i)">🗑</button>
			</div>
			<p>{{ post.description }}</p>
			<i>author: {{ post.authorUsername }}</i>
			<i style="font-size: .8rem">added on: {{ post.createdAt | date: 'dd/MM/yyyy' }} at {{ post.createdAt |
				date: 'HH:mm' }}</i>
		</div>

		<ng-container *ngIf="post.mediaLinks.length > 0">
			<div class="post-image">
				<button (click)="previousImage(i)" [disabled]="currentPostIndex[i] === 0">&larr;</button>

				<ng-container *ngIf="isImage(post.mediaLinks[currentPostIndex[i]]); else videoTemplate">
					<img [src]="post.mediaLinks[currentPostIndex[i]]" alt="post img">
				</ng-container>
				<ng-template #videoTemplate>
					<video controls>
						<source [src]="post.mediaLinks[currentPostIndex[i]]" type="video/mp4">
						Your browser does not support the video tag.
					</video>
				</ng-template>

				<button (click)="nextImage(i)"
					[disabled]="currentPostIndex[i] === post.mediaLinks.length - 1">&rarr;</button>
			</div>

			<p class="current-media-index">({{ currentPostIndex[i] + 1 }})</p>
		</ng-container>

		<div class="post-buttons">
			<button (click)="upvotePost(i)" [ngClass]="{'upvoted': posts[i] && posts[i].upvoted}">⬆</button>
			<p>{{ posts[i] && posts[i].upvoteScore }}</p>
			<button (click)="downvotePost(i)" [ngClass]="{'downvoted': posts[i] && posts[i].downvoted}">⬇</button>
			<button>💬 {{0}}</button>
			<button>&star;</button>
		</div>
	</div>
</ng-container>

<button style="display: flex; align-items: center; justify-content: center;" (click)="fetchPosts()">load more</button>
<br>
<br>