* {
	word-wrap: break-word;
}

#body {
	display: flex;
	flex-direction: row;
}

#comments-section {
	position: sticky;
	top: 100px;
	display: flex;
	flex-direction: column;
	margin-left: 30px;
	width: 35%;
	height: 70vh;
	margin-top: 20px;
	align-self: stretch;
	overflow-y: auto;
}

#posts-section {
	display: flex;
	flex-direction: column;
	width: 60%;
	max-width: 1000px;
	margin-bottom: 30px;
}

#post-sort {
	padding: 5px;
	max-height: 50px;

	button {
		margin-left: 5px;
	}
}

.post-header {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.post-image {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	button {
		margin: 5px;
		height: 50px;
		width: 30px;
	}

	img,
	video {
		aspect-ratio: 1 / 1;
		width: 90%;
		object-fit: contain;
	}
}

.current-media-index {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.post-buttons {
	display: flex;
	flex-direction: row;
	align-items: center;

	* {
		margin: 3px;
		font-size: larger;
		padding: 1px 7px;
		border-radius: 0.4rem;
	}
}

#comments-container {
	overflow-y: auto;
	height: 60vh;
}

.comment {
	margin-top: 10px;
}

input {
	width: calc(var(--right-section-width) - 100px);
	padding: 3px;
	margin: 10px 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.bold {
	font-weight: bold;
}

.upvoted {
	color: orangered;
	background-color: rgba(255, 0, 0, 0.2);
}

.downvoted {
	color: blue;
	background-color: rgba(0, 0, 255, 0.2);
}

.seen {
	opacity: .75;
}

.same-line {
	display: flex;
	flex-direction: row;
}