* {
	word-wrap: break-word;
}

#post-sort {
	padding: 5px;
	max-height: 50px;

	button {
		margin-left: 5px;
	}
}

.post-preview {
	display: flex;
	flex-direction: column;
	width: 600px;
	margin-bottom: 30px;
}

.post-header {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.post-image {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	button {
		margin: 5px;
		height: 50px;
		width: 30px;
	}

	img,
	video {
		width: 500px;
		height: 500px;
		object-fit: contain;
	}
}

.current-media-index {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.post-buttons {
	display: flex;
	flex-direction: row;
	align-items: center;

	* {
		margin: 3px;
		font-size: larger;
		padding: 1px 7px;
		border-radius: 0.4rem;
	}

	.upvoted {
		color: orangered;
		background-color: rgba(255, 0, 0, 0.2);
	}

	.downvoted {
		color: blue;
		background-color: rgba(0, 0, 255, 0.2);
	}
}

.same-line {
	display: flex;
	flex-direction: row;
}