* {
	--margin-left: 20%;
	--margin-right: 15%;
	--widthOnLeftSide: 600px;
	--widthOnRightSide: 250px;
}

#title {
	margin-left: var(--margin-left);
	margin-top: 50px;
}

#header {
	display: flex;
	flex-direction: row;
	margin-left: var(--margin-left);
	margin-top: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	width: var(--widthOnLeftSide);
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: var(--margin-left);
    margin-right: var(--margin-right);
}

.left, .right {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
	max-height: 400px;
    overflow-y: auto;
}

.left{
	flex: 7;
	max-width: var(--widthOnLeftSide);
}

.right {
	flex: 4;
	max-width: var(--widthOnRightSide);
	
}

.container {
    display: flex;
	flex-direction: row;
    align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
	padding: 15px;
    width: 100%;
	border: 1px solid black;
	border-radius: 15px;
}

.details, .buttons {
	display: flex;
	flex-direction: column;
}

.details {
	max-width: 300px;
}


li {
	cursor: pointer;
	margin-bottom: 3px;
	list-style: none;
	padding: 10px;

	&:hover {
		background-color: rgb(202, 202, 202);
		border-radius: 20px;
		cursor: pointer;
		transition-duration: 0.3s;
	}

	&:focus {
		background-color: rgb(144, 197, 255);
		color: rgb(247, 250, 151);
	}
}