<app-navbar></app-navbar>

<div id="title">
	<h2>Settings</h2>
</div>
<div id="header">
	<button>Account</button>
	<button>Profile</button>
	<button>Privacy</button>
	<button>Feed</button>
</div>

<div id="body">
	<div class="section">
		<div class="left">
			<h4>Setting1 name</h4>
			<p>setting1 description</p>
		</div>
		<div class="right">
			<button>Edit</button>
		</div>
	</div>

	<div class="section">
		<div class="left">
			<h4>Setting2 name</h4>
			<p>setting2 description</p>
		</div>
		<div class="right">
			<button>Edit</button>
		</div>
	</div>
</div>