<app-navbar></app-navbar>

<div id="title">
	<h2>Settings</h2>
</div>
<div id="header">
	<button (click)="selectSection('account')">Account</button>
	<button (click)="selectSection('regions')">Regions</button>
	<button (click)="selectSection('notifications')">Notifications</button>
	<button (click)="selectSection('profile')">Profile</button>
	<button (click)="selectSection('privacy')">Privacy</button>
	<button (click)="selectSection('feed')">Feed</button>
</div>

<div id="body" class="section">
	<div *ngIf="selectedSection === 'account'">
		<h3>you are in the account section</h3>
	</div>

	<!------------------------------------------------------------------------>

	<div *ngIf="selectedSection === 'regions'">
		<div class="section-left">
			<p class="left">current country: <strong>{{currentCountry?.name || 'none'}}</strong></p>
			<button>remove current</button>
			<button (click)="showCountryOptions = !showCountryOptions">see options</button>
			<div *ngIf="showCountryOptions">
				<p>(careful! changing the country will remove all your regions. you will need to add them again)</p>
				<ul>
					<li *ngFor="let country of allCountries" (click)="selectCountry(country)">{{ country.name }}</li>
				</ul>
			</div>

			<p class="left">current primary region: <strong>{{currentPrimaryRegion?.name || 'none'}}</strong></p>
			<button>remove current</button>
			<button (click)="showPrimaryRegionOptions = !showPrimaryRegionOptions">see options</button>
			<div *ngIf="showPrimaryRegionOptions">
				<ul>
					<li *ngFor="let region of availableRegions" (click)="selectPrimaryRegion(region)">{{ region.name }}</li>
				</ul>
			</div>

			<p class="left">current secondary regions:
				<span *ngIf="currentSecondaryRegions.length > 0; else displayNone">
					<ng-container *ngFor="let region of currentSecondaryRegions; let i = index">
						<strong>{{ region.name }}{{ i !== currentSecondaryRegions.length - 1 ? ', ' : '' }}</strong>
					</ng-container>
				</span>
				<ng-template #displayNone>
					<strong>none</strong>
				</ng-template>
			</p>
			<button>remove one</button>
			<button>see options</button>
		</div>
	</div>

	<!------------------------------------------------------------------------>

	<div *ngIf="selectedSection === 'notifications'">
		<h3>you are in the notifications section</h3>
	</div>

	<!------------------------------------------------------------------------>

	<div *ngIf="selectedSection === 'profile'">
		<h3>you are in the profile section</h3>
	</div>

	<!------------------------------------------------------------------------>

	<div *ngIf="selectedSection === 'privacy'">
		<h3>you are in the privacy section</h3>
	</div>

	<!------------------------------------------------------------------------>

	<div *ngIf="selectedSection === 'feed'">
		<h3>you are in the feed section</h3>
	</div>

	<div class="section">
		<div class="left">
			<h4>Setting1 name</h4>
			<p>setting1 description</p>
		</div>
		<div class="right">
			<button>Edit</button>
		</div>
	</div>

	<div class="section">
		<div class="left">
			<h4>Setting2 name</h4>
			<p>setting2 description</p>
		</div>
		<div class="right">
			<button>Edit</button>
		</div>
	</div>
</div>