* {
	--map-width: 80%;
	--map-height: 80%;
}

.map-ui {
	position: fixed;
	z-index: 9;
}

#map {
	width: var(--map-width);
	height: var(--map-height);
	position: fixed;
	top: calc((100% - (var(--map-height))) / 2);
	left: calc((100% - (var(--map-width))) / 2);
	right: 0;
	bottom: 0;
	z-index: 9;
}

#add-marker-button {
	top: calc((100% - var(--map-height)) / 2 + 10px);
	right: calc((100% - var(--map-width)) / 2 + 10px);
}

#marker {
	&-title {
		top: calc((100% - var(--map-height)) / 2 + 40px);
		right: calc((100% - var(--map-width)) / 2 + 10px);
	}

	&-description {
		top: calc((100% - var(--map-height)) / 2 + 70px);
		right: calc((100% - var(--map-width)) / 2 + 10px);
	}

	&-latitude {
		top: calc((100% - var(--map-height)) / 2 + 100px);
		right: calc((100% - var(--map-width)) / 2 + 10px);
	}

	&-longitude {
		top: calc((100% - var(--map-height)) / 2 + 130px);
		right: calc((100% - var(--map-width)) / 2 + 10px);
	}

	&-start-date {
		&-label {
			top: calc((100% - var(--map-height)) / 2 + 140px);
			right: calc((100% - var(--map-width)) / 2 + 10px);
			background-color: #fff;
			padding: 1px;
		}

		top: calc((100% - var(--map-height)) / 2 + 180px);
		right: calc((100% - var(--map-width)) / 2 + 10px);
	}

	&-end-date {
		&-label {
			top: calc((100% - var(--map-height)) / 2 + 190px);
			right: calc((100% - var(--map-width)) / 2 + 10px);
			background-color: #fff;
			padding: 1px;
		}

		top: calc((100% - var(--map-height)) / 2 + 230px);
		right: calc((100% - var(--map-width)) / 2 + 10px);
	}

	&-submit {
		top: calc((100% - var(--map-height)) / 2 + 260px);
		right: calc((100% - var(--map-width)) / 2 + 10px);
	}
}

.click-cursor {
	cursor: crosshair;
}

.map-info {
	color: #424242;
	top: calc((100% - var(--map-height)) / 2);
	left: calc((100% - (var(--map-width))) / 2);
}