html,
body {
	height: 100%;
	background: linear-gradient(to right, white, rgb(228, 248, 255));
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button {
	background-color: #fff;
	border: none;
	outline: none;
	margin: 3px auto;
	cursor: pointer;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	border-radius: 2rem;
	padding: 5px 10px;
	transition-duration: 0.3s;
	list-style: none;

	&:hover {
		background-color: rgb(144, 197, 255);
		color: rgb(247, 250, 151);
		box-shadow: 4px 3px 8px 0px rgb(144, 197, 255);
		border-radius: 0.2rem;
		cursor: pointer;
		transition-duration: 0.3s;
	}

	&:active {
		opacity: .5;
	}
}

.button-slick {
	border-radius: 10px;
	background-color: transparent;
	border-left: 1px transparent solid;
	border-right: 1px transparent solid;
	box-shadow: none;
	height: 80%;
	transition-duration: 0.15s;

	&:hover {
		color: rgb(0, 0, 0);
		background-color: rgba(255, 255, 255, 0.644);
		border-left: 1px black solid;
		border-right: 1px black solid;
		box-shadow: none;
		transition-duration: 0.15s;
	}
}