#body {
	display: flex;
	flex-direction: row;
	margin-top: 70px;
}

#left-section,
#middle-section{
	display: flex;
	flex-direction: column;
}

#left-section {
	left: 0;
	width: 18%;
	text-align: center;
	position: fixed;
	overflow-y: auto;
}

#middle-section {
	width: 80%;
	margin-left: 20%;
}

@media (max-width: 900px) {
	#left-section {
		display: none;
	}

	#middle-section {
		margin-left: 20px;
		width: 90%;
	}
}