#body {
	display: flex;
	flex-direction: row;
	margin-top: 70px;
}

#left-section,
#middle-section,
#right-section {
	display: flex;
	flex-direction: column;
}

#left-section,
#right-section {
	position: fixed;
	overflow-y: auto;
}

#left-section {
	left: 0;
	width: 18%;
	text-align: center;
}

#right-section {
	right: 5%;
	width: 25%;
}

#middle-section {
	width: 50%;
	margin-left: 20%;
}

@media (max-width: 1000px) {
	#left-section {
		display: none;
	}

	#middle-section {
		margin-left: 20px;
		width: 65%;
	}
}

@media (max-width: 700px) {
	#right-section {
		display: none;
	}

	#middle-section {
		width: 100%;
		padding-right: 0;
	}
}