<app-navbar></app-navbar>

<div id="body">
	<div id="left-section">
		<p>left menu content. left menu content. left menu content. left menu content.
			left menu content. left menu content. left menu content. left menu content.
			left menu content. left menu content. left menu content.
		</p>
	</div>
	<div id="middle-section">
		<p>content content. content content. content content. content content.
			content content. content content. content content. content content.
			content content. content content. content content.
		</p>
	</div>
	<div id="right-section">
		<h4>friends</h4>

		<button>friend1</button>
		<button>friend2</button>
		<button>friend3</button>
	</div>
</div>