<app-navbar></app-navbar>

<div id="body">
	<div id="left-section">
		<p>left menu content. left menu content. left menu content. left menu content.
			left menu content. left menu content. left menu content. left menu content.
			left menu content. left menu content. left menu content.
		</p>
	</div>
	<div id="middle-section">
		<p>content content. content content. content content. content content.
			content content. content content. content content. content content.
			content content. content content. content content.
		</p>
	</div>
	<div id="right-section">
		<h4>friends</h4>

		<ng-container *ngIf="friendsUsernames.length > 0; else noFriends">
			<button *ngFor="let friendUsername of friendsUsernames" type="button" [routerLink]="['/user', friendUsername]">
				{{ friendUsername }}
			</button>
		</ng-container>

		<ng-template #noFriends>
			<p>this place is kind of empty..</p>
		</ng-template>
	</div>
</div>