* {
	margin: 30px 0 0 0;
	padding: 0;
	box-sizing: border-box;
	--left-right-menus-width: 200px;
}

#main-page {
	display: flex;
}

#left-section,
#right-section {
	width: var(--left-right-menus-width);
	position: fixed;
	top: 0;
	bottom: 0;
}

#left-section {
	left: 0;
}

#right-section {
	right: 0;
}

#middle-section {
	width: 600px;
	margin: auto;
	overflow-y: auto;
}