<div>
	<div>
		<h2>Websockets.</h2>
		<div>
			<button (click)="connectToWebsocket()" type="submit">connect</button>
			<button type="button" (click)="disconnectFromWebsocket()"
				[disabled]="!isWebsocketConnected()">disconnect</button>
		</div>
		<div>
			<p>say something:</p>
			<input #name type="text" id="name" placeholder="djohn djonson">
			<button (click)="sendMessage(name.value)" type="submit">send</button>
		</div>
	</div>
	<div *ngIf="isWebsocketConnected()">
		<div *ngFor="let message of receivedMessages">
			<p> <span style="font-weight: bold">{{ message.username }}</span>: {{ message.message }} <span style="font-size: 0.7em; font-style: italic"> at {{ message.createdAt }}</span></p>
		</div>
	</div>
</div>