<div>
	<div>
		<h2>Websockets.</h2>
		<div>
			<button (click)="connectToWebsocket()" type="submit">connect</button>
			<button type="button" (click)="disconnectFromWebsocket()"
				[disabled]="!isWebsocketConnected()">disconnect</button>
		</div>
		<div>
			<label>wats your name</label>
			<input #name type="text" id="name" placeholder="djohn djonson">
			<button (click)="sendMessage(name.value)" type="submit">send</button>
		</div>
	</div>
	<div *ngIf="isWebsocketConnected()">
		<h3>Greetings:</h3>
		<div *ngFor="let message of receivedMessages">
			<p>{{ message }}</p>
		</div>
	</div>
</div>