* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#friend-requests-container {
	position: fixed;
	z-index: 9;
	width: 350px;
	height: 500px;
	right: 145px;
	top: 50px;
	background-color: azure;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.notificationF {
	display: flex;
	align-items: center;
	margin: 10px;
	border: 1px solid #ccc;
	border-radius: 25px;

	img {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		margin-right: 10px;
	}

	p {
		margin: 0;
	}

	a {
		text-decoration: none;
		color: #000;
		display: flex;
		align-items: center;
	}

	&:hover {
		background-color: rgba(144, 197, 255, 0.2);
		cursor: pointer;
	}
}