#friend-requests-container {
	position: fixed;
	z-index: 9;
	width: 350px;
	height: 500px;
	right: 145px;
	top: 50px;
	background-color: azure;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.notificationF {
	display: flex;
	align-items: center;
	margin: 10px;

	.info {
		height: 100%;
		border: 1px solid hsl(0, 0%, 80%);
		border-radius: 25px;
		width: 90%;
		

		.pfp {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			margin-right: 10px;
		}

		.description {
			margin: 5px;
		}

		a {
			text-decoration: none;
			color: #000;
			display: flex;
			align-items: center;
		}

		&:hover {
			background-color: rgba(144, 197, 255, 0.2);
			cursor: pointer;
		}
	}

	.close-button {
		padding: 5px;
		margin-left: 10px;
		background-color: #fff;
		border: 1px solid #ccc;
		border-radius: 50%;

		&:hover {
			background-color: #ccc;
			cursor: pointer;
		}
	}
}