<div id="friend-requests-container">

	<ng-container *ngFor="let notificationF of last50NotificationsF">
		<div class="notificationF">
			<div class="info">
				<a (click)="removeNotificationFAndRedirectToProfile(notificationF.id, notificationF.emitterUsername)">
					<img class="pfp" [src]="notificationF.emitterPfpLink" alt="pfp">
					<p class="description">{{ notificationF.description }}</p>
				</a>
			</div>
			<i class="close-button material-icons"
				(click)="removeNotificationFAndRedirectToProfile(notificationF.id, '')">close</i>
		</div>
	</ng-container>

</div>